.DS_Store
.vscode

bin
# dist
example
express
node_modules
src

.gitignore
.npmignore

babel.config.js
jest.config.js
makefile
methods.json
# package.json
pnpm-lock.yaml
# README.md
rollup.config.js
tsconfig.json